a {
  outline: 0
}

.is-absolute {
  position: absolute;
  width: 100%;
  background: transparent
}

.cookieConsent.notification {
  position: fixed;
  width: 100%;

  .button:last-child {
    margin-right: 1rem
  }
}

.is-fullheight {
  min-height: 100vh
}
