// TODO refactor these custom inline styles into SCSS when time permits...
.content dd {
  margin-bottom: 0.5em
}
.footer.is-dark {
  background-color: #363636;
  color: #f5f5f5
}
.footer.is-dark a:not(.button):not(.dropdown-item):not(.tag), .footer.is-dark strong {
  color: inherit
}
.navbar.is-home .navbar-menu.is-active {
  background-image: linear-gradient(141deg,#dfd8d9 0%,whitesmoke 71%,white 100%)
}
.navbar.is-home .navbar-menu.is-active {
  background-color: #e8e8e8;
}
.navbar-brand .navbar-item span {
  margin-left:3px
}
.navbar-brand .navbar-item:hover {
  color: inherit
}
.navbar-menu a.navbar-item.is-active {
  border-bottom: 1px solid #daa520;
  border-radius: 0
}
.hero-body .subtitle {
  margin-bottom: 0.5rem
}
.hero-body .subtext {
  width:50%;
  margin: 0 auto 0.5rem
}
svg:not(:root).svg-inline {
  overflow: visible
}
svg {
  max-width: 100%
}
.neon-tiles .tile.is-child {
  display: flex
}
@media screen and (max-width: 769px) and (orientation: portrait) {
  .neon-tiles .tile.is-child {
    display: block
  }
  .tile.is-child.has-text-centered svg {
    max-width: 50%
  }
  .footer .column.content {
    text-align: center;
    margin-bottom: 24px
  }
}
@media screen and (max-width: 769px) and (orientation: landscape) {
  .neon-tiles .tile.is-child {
    display: block
  }
  .tile.is-child.has-text-centered svg {
    max-width: 20%
  }
  .footer .column.content {
    text-align: center;
    margin-bottom: 24px
  }
}
.svg-animation-container {
  height: 160px;
  max-width: 352px;
  margin: 0 auto;
  overflow: hidden;
  position: relative
}
@media screen and (max-width: 400px) {
  .svg-animation-container {
    max-width: 292px
  }
}
.is-elastic-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.31758 135.46667"><g transform="matrix(2.0885284,0,0,2.0885284,27.291413,36.135823)"><path fill="%23231f20" d="m 15,15 c 0,-2.9 -0.8,-4.4 -0.9,-4.5 H 2 c -0.5,1.4 -0.7,2.9 -0.7,4.5 0,1.6 0.2,3.1 0.7,4.5 H 14.1 C 14.6,18.8 15,17.9 15,15 Z" /><g transform="translate(6.375,21)"><path fill="%2300bfb3" d="M 16.9,0 H 7.1 C 6.8,0.7 6.5,1.3 6.1,1.9 5.5,2.8 4.9,3.7 4.1,4.4 3.9,4.7 2.2,6.1 1.6,6.5 4,8.1 6.9,9 10,9 15.2,9 19.8,6.3 22.5,2.3 21,0.9 19.1,0 16.9,0" /></g><path fill="%23019b8f" d="m 13.5,21 h -11 c 1.2,2.7 3.1,4.9 5.5,6.5 0,0 4.2,-2.5 5.5,-6.5 z" /><path fill="%23f9b110" d="M 10.5,4.5 C 10.3,4.3 10,4 9.8,3.8 9.3,3.3 8.7,2.9 8.1,2.5 5.6,4.1 3.7,6.3 2.6,9 h 11 C 13.3,8.3 13,7.7 12.6,7.1 12,6.2 11.3,5.3 10.5,4.5" /><path fill="%23fed10a" d="m 16.3,0.1 c -3,0 -5.9,0.8 -8.3,2.4 0.6,0.4 1.2,0.9 1.7,1.4 0.3,0.2 0.6,0.5 0.8,0.7 0.8,0.8 1.4,1.6 2,2.5 0.4,0.6 0.7,1.3 1,1.9 h 9.8 C 25.4,9 27.4,8.1 28.8,6.7 26.1,2.8 21.5,0.1 16.3,0.1" /><path fill="%2300a9e5" d="m 22,10.5 h -7.9 c 0,0 0.8,1.7 0.8,4.5 0,2.8 -0.8,4.5 -0.8,4.5 H 22 c 2.5,0 4.5,-2 4.5,-4.5 -0.1,-2.5 -2.1,-4.5 -4.5,-4.5" /></g><path fill="none" stroke="%230078a0" stroke-width="12" d="m 58.658792,6.7627869 52.802038,30.4852731 0,60.970543 L 58.658789,128.70387 5.8567507,98.2186 l 1.7e-6,-60.970543 z" /></svg>')
}
.is-envoy-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.31758 135.46667"><g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1" transform="matrix(0.32259293,0,0,0.32259293,22.372131,40.230801)"><polyline fill="%23953984" points="56.279 81.853 56.601 95.448 70.917 104.324 70.596 90.72 56.279 81.853" /><g transform="translate(0,81)"><mask fill="white" id="mask-2"><polygon points="91.22,87.94 91.22,0.449 0,0.449 0,87.94" /></mask><path fill="%23953984" mask="url(%23mask-2)" d="M 91.22,57.357 90.907,44.042 78.361,36.268 C 78.175,36.152 78.01,36.016 77.829,35.894 l 0.317,13.36 13.074,8.103" /><path fill="%23953984" mask="url(%23mask-2)" d="M 46.52,75.284 13.788,55.002 12.992,20.964 29.039,14.044 28.717,0.449 3.107,11.49 c -1.97,0.857 -3.154,2.664 -3.106,4.772 l 0.961,40.835 c 0.048,2.107 1.328,4.17 3.351,5.433 l 39.254,24.326 c 1.829,1.131 4.035,1.441 5.895,0.853 0.197,-0.062 0.376,-0.133 0.555,-0.203 L 74.105,77.122 61.04,69.022 46.52,75.284" /></g><path fill="%23ac6199" d="m 152.283,81.075 c -0.06,-2.448 -1.547,-4.873 -3.909,-6.331 l -47.658,-29.537 -1.471,0.635 0.337,14.292 37.738,23.38 0.902,38.24 14.433,8.944 0.787,-0.34 -1.159,-49.283" /><g transform="translate(34)"><mask fill="white" id="mask-4"><polygon points="191.857,163.03797 0.69512669,163.03797 0.69512669,0.484 191.857,0.484" /></mask><path fill="%23ac6199" mask="url(%23mask-4)" d="M 61.206,148.199 16.93,120.759 15.842,74.699 36.014,66.01 35.64,50.146 4.319,63.648 c -2.297,1.001 -3.682,3.121 -3.622,5.568 l 1.275,53.995 c 0.048,2.452 1.542,4.86 3.904,6.319 l 51.896,32.171 c 2.138,1.323 4.71,1.682 6.878,0.997 0.222,-0.07 0.438,-0.152 0.647,-0.246 l 30.656,-13.215 -15.244,-9.446 -19.503,8.408" /><path fill="%23c04589" mask="url(%23mask-4)" d="m 118.133,137.748 -57.831,-35.837 -1.422,-60.15 56.411,-24.313 57.825,35.824 1.422,60.15 z M 185.76,43.255 119.219,2.011 c -2.455,-1.521 -5.381,-1.922 -7.884,-1.131 -0.246,0.078 -0.487,0.167 -0.724,0.268 L 45.707,29.137 c -2.629,1.134 -4.21,3.549 -4.144,6.353 l 1.632,69.222 c 0.065,2.804 1.773,5.558 4.469,7.229 l 66.536,41.231 c 2.446,1.515 5.373,1.927 7.861,1.141 0.246,-0.078 0.499,-0.171 0.746,-0.277 l 64.91,-27.977 c 2.629,-1.134 4.204,-3.561 4.138,-6.366 L 190.23,50.484 c -0.066,-2.804 -1.774,-5.559 -4.47,-7.229 z" /></g></g><path stroke-width="12" stroke="%23953984" fill="none" d="m 58.658792,6.7627869 52.802038,30.4852731 0,60.970543 L 58.658789,128.70387 5.8567507,98.2186 l 1.7e-6,-60.970543 z" /></svg>')
}
.is-hive-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.31758 135.46667"><path d="m 58.658792,6.7627869 52.802038,30.4852731 0,60.970543 L 58.658789,128.70387 5.8567507,98.2186 l 1.7e-6,-60.970543 z" fill="none" stroke="%23daa520" stroke-width="12"/></svg>')
}
.is-kafka-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.31758 135.46667"><path stroke-width="0.18044201" d="m 82.12109,71.608815 c -2.92064,0 -5.53903,1.29395 -7.33208,3.33114 l -4.5946,-3.25265 c 0.48774,-1.34285 0.76778,-2.78476 0.76778,-4.29398 0,-1.48305 -0.2703,-2.90078 -0.74197,-4.22378 l 4.5843,-3.21819 c 1.79288,2.02691 4.40441,3.31382 7.31657,3.31382 5.3907,0 9.77707,-4.38564 9.77707,-9.77707 0,-5.39143 -4.38637,-9.77707 -9.77707,-9.77707 -5.39071,0 -9.77707,4.38564 -9.77707,9.77707 0,0.965 0.14579,1.89554 0.40744,2.77682 l -4.58738,3.21981 c -1.9163,-2.37732 -4.67543,-4.03721 -7.8191,-4.54389 v -5.52875 c 4.42877,-0.93017 7.76569,-4.86507 7.76569,-9.56685 0,-5.39143 -4.38637,-9.77707 -9.77707,-9.77707 -5.39071,0 -9.77707,4.38564 -9.77707,9.77707 0,4.6388 3.25048,8.52516 7.59065,9.52174 v 5.60056 c -5.92319,1.03971 -10.44218,6.20901 -10.44218,12.42578 0,6.24708 4.56374,11.43533 10.5297,12.43967 v 5.91381 c -4.38456,0.96374 -7.67817,4.87392 -7.67817,9.5443 0,5.391425 4.38636,9.777065 9.77707,9.777065 5.3907,0 9.77707,-4.38564 9.77707,-9.777065 0,-4.67038 -3.29361,-8.58056 -7.67817,-9.5443 v -5.91399 a 12.624625,12.624625 0 0 0 7.68683,-4.47063 l 4.62527,3.27376 c -0.25677,0.87334 -0.40058,1.79468 -0.40058,2.74994 0,5.39142 4.38636,9.77707 9.77707,9.77707 5.3907,0 9.77707,-4.38565 9.77707,-9.77707 0,-5.39143 -4.38637,-9.77707 -9.77707,-9.77707 z m 0,-22.8611 c 2.61406,0 4.74021,2.12705 4.74021,4.74039 0,2.61334 -2.12615,4.74021 -4.74021,4.74021 -2.61407,0 -4.74021,-2.12687 -4.74021,-4.74021 0,-2.61334 2.12614,-4.74039 4.74021,-4.74039 z m -28.52788,-8.90247 c 0,-2.61334 2.12632,-4.74021 4.74039,-4.74021 2.61406,0 4.74021,2.12687 4.74021,4.74021 0,2.61334 -2.12615,4.74021 -4.74021,4.74021 -2.61407,0 -4.74039,-2.12687 -4.74039,-4.74021 z m 9.4806,55.44586 c 0,2.61334 -2.12615,4.740205 -4.74021,4.740205 -2.61407,0 -4.74039,-2.126865 -4.74039,-4.740205 0,-2.61334 2.12632,-4.74021 4.74039,-4.74021 2.61406,0 4.74021,2.12687 4.74021,4.74021 z m -4.74057,-21.28674 c -3.64583,0 -6.61176,-2.96539 -6.61176,-6.61104 0,-3.64583 2.96593,-6.61175 6.61176,-6.61175 3.64565,0 6.61157,2.96592 6.61157,6.61175 0,3.64565 -2.96592,6.61104 -6.61157,6.61104 z m 23.78785,12.12191 c -2.61407,0 -4.74021,-2.12705 -4.74021,-4.74039 0,-2.61334 2.12614,-4.74021 4.74021,-4.74021 2.61406,0 4.74021,2.12687 4.74021,4.74021 0,2.61334 -2.12615,4.74039 -4.74021,4.74039 z" /><path stroke-width="12" stroke="black" fill="none" d="m 58.658792,6.7627869 52.802038,30.4852731 0,60.970543 L 58.658789,128.70387 5.8567507,98.2186 l 1.7e-6,-60.970543 z" /></svg>')
}
.is-mongo-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.31758 135.46667"><g fill="none" fill-rule="evenodd" transform="matrix(0.43941484,0,0,0.43941484,44.820519,36.255473)"><path fill="%23fff" d="m 35.053,142.317 -3.783,-1.293 c 0,0 0.462,-19.286 -6.46,-20.67 -4.613,-5.353 0.74,-227.013 17.35,-0.739 0,0 -5.722,2.86 -6.737,7.752 -1.108,4.799 -0.37,14.95 -0.37,14.95 z" /><path fill="%23a6a385" d="m 35.053,142.317 -3.783,-1.293 c 0,0 0.462,-19.286 -6.46,-20.67 -4.613,-5.353 0.74,-227.013 17.35,-0.739 0,0 -5.722,2.86 -6.737,7.752 -1.108,4.799 -0.37,14.95 -0.37,14.95 z" /><path fill="%23fff" d="m 37.084,123.676 c 0,0 33.13,-21.779 25.377,-67.09 C 54.987,23.643 37.361,12.846 35.423,8.693 33.301,5.74 31.27,0.573 31.27,0.573 l 1.385,91.634 c 0,0.093 -2.861,28.054 4.43,31.47" /><path fill="%23499d4a" d="m 37.084,123.676 c 0,0 33.13,-21.779 25.377,-67.09 C 54.987,23.643 37.361,12.846 35.423,8.693 33.301,5.74 31.27,0.573 31.27,0.573 l 1.385,91.634 c 0,0.093 -2.861,28.054 4.43,31.47" /><path fill="%23fff" d="m 29.333,124.875 c 0,0 -31.1,-21.225 -29.254,-58.598 1.753,-37.374 23.716,-55.738 27.961,-59.06 2.769,-2.953 2.861,-4.061 3.046,-7.014 1.938,4.153 1.569,62.106 1.845,68.934 0.83,26.3 -1.476,50.756 -3.598,55.738 z" /><path fill="%2358aa50" d="m 29.333,124.875 c 0,0 -31.1,-21.225 -29.254,-58.598 1.753,-37.374 23.716,-55.738 27.961,-59.06 2.769,-2.953 2.861,-4.061 3.046,-7.014 1.938,4.153 1.569,62.106 1.845,68.934 0.83,26.3 -1.476,50.756 -3.598,55.738 z" /></g><path stroke-width="12" stroke="%23499d4a" fill="none" d="m 58.658792,6.7627869 52.802038,30.4852731 0,60.970543 L 58.658789,128.70387 5.8567507,98.2186 l 1.7e-6,-60.970543 z" /></svg>')
}
.is-redis-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.31758 135.46667"><g transform="matrix(0.42829486,0,0,0.42829486,-51.004273,-60.92632)"><path fill="%23a41e11" d="m 334.77,339.54 c -9.078,4.732 -56.106,24.068 -66.118,29.287 -10.012,5.221 -15.574,5.17 -23.483,1.389 -7.909,-3.781 -57.955,-23.996 -66.97,-28.305 -4.506,-2.154 -6.875,-3.971 -6.875,-5.688 v -17.195 c 0,0 65.153,-14.184 75.672,-17.957 10.518,-3.774 14.167,-3.91 23.118,-0.631 8.952,3.279 62.474,12.936 71.321,16.176 0,0 -0.004,15.357 -0.004,16.951 0.001,1.7 -2.04,3.565 -6.661,5.973 z" /><path fill="%23d82c20" d="m 334.77,322.34 c -9.078,4.73 -56.106,24.068 -66.118,29.287 -10.012,5.221 -15.574,5.17 -23.483,1.389 -7.91,-3.779 -57.955,-23.998 -66.97,-28.305 -9.015,-4.309 -9.204,-7.275 -0.348,-10.742 8.855,-3.469 58.626,-22.996 69.146,-26.77 10.518,-3.772 14.167,-3.91 23.118,-0.63 8.952,3.279 55.699,21.886 64.545,25.126 8.848,3.243 9.188,5.913 0.11,10.645 z" /><path fill="%23a41e11" d="m 334.77,311.5 c -9.078,4.732 -56.106,24.068 -66.118,29.289 -10.012,5.219 -15.574,5.168 -23.483,1.387 -7.91,-3.779 -57.955,-23.996 -66.97,-28.305 -4.506,-2.154 -6.875,-3.969 -6.875,-5.686 v -17.197 c 0,0 65.153,-14.183 75.672,-17.957 10.518,-3.773 14.167,-3.91 23.118,-0.631 8.952,3.279 62.474,12.934 71.321,16.175 0,0 -0.004,15.357 -0.004,16.953 0.001,1.699 -2.04,3.564 -6.661,5.972 z" /><path fill="%23d82c20" d="m 334.77,294.3 c -9.078,4.732 -56.106,24.068 -66.118,29.289 -10.012,5.219 -15.574,5.168 -23.483,1.387 -7.91,-3.779 -57.955,-23.997 -66.97,-28.305 -9.015,-4.308 -9.204,-7.274 -0.348,-10.743 8.855,-3.467 58.626,-22.995 69.146,-26.768 10.518,-3.773 14.167,-3.91 23.118,-0.631 8.952,3.279 55.699,21.885 64.545,25.126 8.848,3.242 9.188,5.913 0.11,10.645 z" /><path fill="%23a41e11" d="m 334.77,282.42 c -9.078,4.732 -56.106,24.069 -66.118,29.29 -10.012,5.219 -15.574,5.168 -23.483,1.387 -7.91,-3.779 -57.955,-23.997 -66.97,-28.305 -4.506,-2.154 -6.875,-3.97 -6.875,-5.686 v -17.197 c 0,0 65.153,-14.183 75.672,-17.956 10.518,-3.774 14.167,-3.91 23.118,-0.631 8.952,3.279 62.474,12.934 71.321,16.175 0,0 -0.004,15.357 -0.004,16.952 0.001,1.698 -2.04,3.563 -6.661,5.971 z" /><path fill="%23d82c20" d="m 334.77,265.22 c -9.078,4.732 -56.106,24.069 -66.118,29.289 -10.012,5.219 -15.574,5.168 -23.483,1.388 -7.909,-3.78 -57.955,-23.997 -66.97,-28.305 -9.015,-4.308 -9.204,-7.275 -0.348,-10.743 8.855,-3.468 58.626,-22.994 69.146,-26.768 10.518,-3.774 14.167,-3.91 23.118,-0.63 8.952,3.279 55.699,21.885 64.545,25.126 8.848,3.24 9.188,5.912 0.11,10.643 z" /><polygon fill="%23ffffff" points="250.98,243.16 247.17,236.13 259.06,240.78 270.27,237.11 267.24,244.38 278.67,248.66 263.93,250.19 260.63,258.13 255.3,249.27 238.28,247.74 " /><polygon fill="%23ffffff" points="259.75,287.18 232.24,275.77 271.66,269.72 " /><ellipse fill="%23ffffff" cy="261.23999" ry="8.1669998" rx="21.069" cx="221.61" /><polygon fill="%237a0c00" points="296.09,250.83 319.42,260.05 296.11,269.26 " /><polygon fill="%23ad2115" points="293.58,270.25 270.28,261.04 296.09,250.83 296.11,269.26 " /></g><path stroke-width="12" stroke="%23a41e11" fill="none" d="m 58.658792,6.7627869 52.802038,30.4852731 0,60.970543 L 58.658789,128.70387 5.8567507,98.2186 l 1.7e-6,-60.970543 z" /></svg>')
}
.svg-animation {
  height: 60px;
  width: 52px;
  position: absolute;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite
}
.svg-animation.is-svg-1 { top: 100px; left: 30px; animation-name: is-svg-1 }
@keyframes is-svg-1 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  5% { opacity: 0.67 }
  7% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-2 { top: 50px; left: 0; animation-name: is-svg-2 }
@keyframes is-svg-2 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  3% { opacity: 0.00 }
  7% { opacity: 0.67 }
  9% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-3 { top: 0; left: 30px; animation-name: is-svg-3 }
@keyframes is-svg-3 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  5% { opacity: 0.00 }
  9% { opacity: 0.67 }
  11% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-4 { top: 100px; left: 90px; animation-name: is-svg-4 }
@keyframes is-svg-4 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  30% { opacity: 0.00 }
  34% { opacity: 0.67 }
  36% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-5 { top: 50px; left: 60px; animation-name: is-svg-5 }
@keyframes is-svg-5 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  32% { opacity: 0.00 }
  36% { opacity: 0.67 }
  38% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-6 { top: 50px; left: 120px; animation-name: is-svg-6 }
@keyframes is-svg-6 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  34% { opacity: 0.00 }
  38% { opacity: 0.67 }
  40% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-7 { top: 0; left: 90px; animation-name: is-svg-7 }
@keyframes is-svg-7 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  36% { opacity: 0.00 }
  40% { opacity: 0.67 }
  42% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-8 { top: 50px; left: 300px; animation-name: is-svg-8 }
@keyframes is-svg-8 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  60% { opacity: 0.00 }
  64% { opacity: 0.67 }
  66% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-9 { top: 100px; left: 210px; animation-name: is-svg-9 }
@keyframes is-svg-9 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  62% { opacity: 0.00 }
  66% { opacity: 0.67 }
  68% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-10 { top: 50px; left: 240px; animation-name: is-svg-10 }
@keyframes is-svg-10 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  64% { opacity: 0.00 }
  68% { opacity: 0.67 }
  70% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-11 { top: 50px; left: 180px; animation-name: is-svg-11 }
@keyframes is-svg-11 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  66% { opacity: 0.00 }
  70% { opacity: 0.67 }
  72% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-12 { top: 100px; left: 150px; animation-name: is-svg-12 }
@keyframes is-svg-12 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  68% { opacity: 0.00 }
  72% { opacity: 0.67 }
  74% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-13 { top: 0; left: 210px; animation-name: is-svg-13 }
@keyframes is-svg-13 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  70% { opacity: 0.00 }
  74% { opacity: 0.67 }
  76% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-animation.is-svg-14 { top: 0; left: 150px; animation-name: is-svg-14 }
@keyframes is-svg-14 {
  0% { opacity: 1.00 }
  1% { opacity: 0.00 }
  72% { opacity: 0.00 }
  76% { opacity: 0.67 }
  78% { opacity: 1.00 }
  100% { opacity: 1.00 }
}
.svg-inline {
  width: 1em;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em
}
.svg-link {
  height: 100%;
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -.125em
}
.is-reactive,
.is-robust,
.is-serverless {
  border-radius: 6px
}
.is-reactive {
  color: rgb(68,93,233);
  box-shadow: inset 0 0 2px 2px rgba(68,93,233,0.67), 0 0 2px 2px rgba(68,93,233,0.67);
  filter: drop-shadow(10px 10px 25px rgba(68,93,233,0.33));
  background: transparent
}
.is-reactive svg {
  fill: rgba(68,93,233,0.67)
}
.is-reactive:hover {
  box-shadow: inset 0 0 2px 2px rgba(68,93,233,1), 0 0 2px 2px rgba(68,93,233,1);
  filter: drop-shadow(10px 10px 50px rgba(68,93,233,0.5));
}
.is-reactive:hover svg {
  fill: rgba(68,93,233,1)
}
.is-robust {
  color: rgb(186,11,224);
  box-shadow: inset 0 0 2px 2px rgba(186,11,224,0.67), 0 0 2px 2px rgba(186,11,224,0.67);
  filter: drop-shadow(10px 10px 25px rgba(186,11,224,0.33));
  background: transparent
}
.is-robust svg {
  fill: rgba(186,11,224,0.67)
}
.is-robust:hover {
  box-shadow: inset 0 0 2px 2px rgba(186,11,224,1), 0 0 2px 2px rgba(186,11,224,1);
  filter: drop-shadow(10px 10px 50px rgba(186,11,224,0.5));
}
.is-robust:hover svg {
  fill: rgba(186,11,224,1)
}
.is-serverless {
  color: rgb(253,87,80);
  box-shadow: inset 0 0 2px 2px rgba(253,87,80,0.67), 0 0 2px 2px rgba(253,87,80,0.67);
  filter: drop-shadow(10px 10px 25px rgba(253,87,80,0.33));
  background: transparent
}
.is-serverless svg {
  fill: rgba(253,87,80,0.67)
}
.is-serverless:hover {
  box-shadow: inset 0 0 2px 2px rgba(253,87,80,1), 0 0 2px 2px rgba(253,87,80,1);
  filter: drop-shadow(10px 10px 50px rgba(253,87,80,0.5));
}
.is-serverless:hover svg {
  fill: rgba(253,87,80,1)
}
.is-hive {
  filter: drop-shadow(10px 10px 25px rgba(218,165,32,0.33));
  stroke: rgba(218,165,32,0.67)
}
.is-hive:hover {
  filter: drop-shadow(10px 10px 25px rgba(218,165,32,0.44));
  stroke: rgba(218,165,32,1)
}
.hero.is-hive {
  background: rgba(218,165,32,1)
}
.is-reactive .card-image .image,
.is-robust .card-image .image,
.is-serverless .card-image .image {
  margin: 0 auto;
  padding-top: 1.5rem
}
.card.is-reactive h3, .is-reactive p,
.card.is-robust h3, .is-robust p,
.card.is-serverless h3, .is-serverless p {
  color: inherit
}
.is-absolute {
  position: absolute;
  width: 100%;
  background: transparent
}
.has-nav-spacing {
  padding-top: 132px
}
a {
  outline: 0
}
