.content dd {
  margin-bottom: 0.5em
}

.footer.is-dark {
  background-color: #363636;
  color: #f5f5f5;

  a:not(.button):not(.dropdown-item):not(.tag), strong {
    color: inherit
  }

  .svg-link path {
    fill: #f5f5f5
  }
}

@media screen and (max-width: 768px) {
  .footer .column.content {
    text-align: center;
    margin-bottom: 24px
  }
}

.navbar-brand {
  .navbar-item span {
    margin-left:3px
  }

  .navbar-item:hover {
    color: inherit
  }
}

.hero-body {
  .subtitle {
    margin-bottom: 0.5rem
  }

  .subtext {
    width:50%;
    margin: 0 auto 0.5rem
  }
}
