@charset "utf-8";

// import only the styles used from Bulma
// @import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/utilities/initial-variables.sass";
@import "node_modules/bulma/sass/utilities/functions.sass";
@import "node_modules/bulma/sass/utilities/derived-variables.sass";
@import "node_modules/bulma/sass/utilities/animations.sass";
@import "node_modules/bulma/sass/utilities/mixins.sass";
@import "node_modules/bulma/sass/utilities/controls.sass";

// color overrides for a dark theme
$body-background-color: $dark;
$body-color: $dark-invert;
$content-blockquote-background-color: $black-ter;
$content-heading-color: $dark-invert;
$content-table-head-cell-color: $dark-invert;
$footer-background-color: $dark;
$footer-color: $dark-invert;
$link: $cyan;
$link-hover: $cyan;
$menu-item-color: $dark-invert;
$menu-item-active-background-color: $black-ter;
$menu-item-hover-color: $dark-invert;
$menu-item-hover-background-color: $blue;
$menu-label-color: $dark-invert;
$notification-background-color: $black-ter;
$pre: $dark-invert;
$pre-background: $black-bis;
$strong-color: $dark-invert;
$table-background-color: $black-bis;
$table-color: $dark-invert;
$table-row-hover-background-color: $dark;
$table-striped-row-even-background-color: $black-ter;
$table-striped-row-even-hover-background-color: $dark;

// @import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/base/minireset.sass";
@import "node_modules/bulma/sass/base/generic.sass";

// @import "node_modules/bulma/sass/elements/_all";
// @import "node_modules/bulma/sass/elements/box.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/content.sass";
@import "node_modules/bulma/sass/elements/icon.sass";
@import "node_modules/bulma/sass/elements/image.sass";
@import "node_modules/bulma/sass/elements/notification.sass";
// @import "node_modules/bulma/sass/elements/progress.sass";
@import "node_modules/bulma/sass/elements/table.sass";
// @import "node_modules/bulma/sass/elements/tag.sass";
@import "node_modules/bulma/sass/elements/title.sass";
// @import "node_modules/bulma/sass/elements/other.sass";

// @import "node_modules/bulma/sass/form/_all";
// @import "node_modules/bulma/sass/form/shared.sass";
// @import "node_modules/bulma/sass/form/input-textarea.sass";
// @import "node_modules/bulma/sass/form/checkbox-radio.sass";
// @import "node_modules/bulma/sass/form/select.sass";
// @import "node_modules/bulma/sass/form/file.sass";
// @import "node_modules/bulma/sass/form/tools.sass";

// @import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/components/breadcrumb.sass";
@import "node_modules/bulma/sass/components/card.sass";
// @import "node_modules/bulma/sass/components/dropdown.sass";
@import "node_modules/bulma/sass/components/level.sass";
// @import "node_modules/bulma/sass/components/media.sass";
@import "node_modules/bulma/sass/components/menu.sass";
// @import "node_modules/bulma/sass/components/message.sass";
// @import "node_modules/bulma/sass/components/modal.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
// @import "node_modules/bulma/sass/components/pagination.sass";
// @import "node_modules/bulma/sass/components/panel.sass";
// @import "node_modules/bulma/sass/components/tabs.sass";

// @import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/grid/columns.sass";
@import "node_modules/bulma/sass/grid/tiles.sass";

// @import "node_modules/bulma/sass/helpers/_all";
@import "node_modules/bulma/sass/helpers/color.sass";
@import "node_modules/bulma/sass/helpers/flexbox.sass";
@import "node_modules/bulma/sass/helpers/float.sass";
@import "node_modules/bulma/sass/helpers/other.sass";
@import "node_modules/bulma/sass/helpers/overflow.sass";
@import "node_modules/bulma/sass/helpers/position.sass";
@import "node_modules/bulma/sass/helpers/spacing.sass";
@import "node_modules/bulma/sass/helpers/typography.sass";
@import "node_modules/bulma/sass/helpers/visibility.sass";

// @import "node_modules/bulma/sass/layout/_all";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";
@import "node_modules/bulma/sass/layout/footer.sass";

// import custom css
@import "_overrides.scss";
@import "_custom.scss";
@import "_svg.scss";
@import "_animation.scss";
@import "_neon.scss";
